body {
    background: rgb(239, 239, 239);
    color: black;
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}

ul,
ol {
    list-style: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

[data-x].offset{
    transform: translateY(150px);
}
[data-x]{
    transform: translateY(0);
    transition: all 0.5s;
}

.topNavBar {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    transition: all 0.5s;
    color: #b7b7b7;
}

.topNavBar.sticky {
    background: white;
    padding: 10px 0;
    z-index: 1;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.25);
    color: #3d4451;
}

.topNavBar2 {
    padding: 0 16px;
}

.topNavBar .logo {
    font-family: "Arial Black";
    font-size: 24px;
    padding-top: 3px;
    padding-bottom: 4px;
    line-height: 34px;
}

.topNavBar .logo .rs {
    color: #e6686a;
    margin-right: 12px;
    font-weight: bold;
}

.banner {
    background-image: url(./image/rs-cover.jpg);
    background-position: center center;
    background-size: cover;
    height: 515px;
}

.mask {
    background-color: rgba(0, 0, 0, 0.8);
    height: 515px;
}

.topNavBar .logo .card {
    color: #9A9DA2;
}

.topNavBar nav {
    padding: 5px 0 0 0;
}


.topNavBar nav ul {
    list-style: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.topNavBar nav>ul>li {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
}

.topNavBar nav>ul>li>a {
    font-size: 12px;
    color: inherit;
    font-weight: bold;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.topNavBar nav>ul>li>a:hover::after,.topNavBar nav>ul>li.highlight>a::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #e06567;
    /* border-bottom: 3px solid #e06567; */
    height: 3px;
    animation: menuSlide 0.3s;
}

@keyframes menuSlide {
    0% {
        width: 0;
    }

    100% {
        width: 100%
    }
}

.topNavBar .submenu {
    display: none;
    position: absolute;
    right: 0;
    top: 37px;
    background: white;
    color: #3d4451;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.topNavBar li.active>.submenu {
    display: block;
    animation: submenuSlide 0.3s;
}

@keyframes submenuSlide {
    0% {
        margin-right: 100%
    }

    100% {
        margin-right: 0%
    }
}

.topNavBar .submenu>li {
    white-space: nowrap;
    padding: 5px 10px;
}

main .card {
    background: white;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.29);
}

.card .picture {
    float: left;
}

.card .welcome {
    background: #e6686a;
    color: white;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
}

.card .welcome .triangle {
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #e6686a;
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
}

.card .text {
    float: left;
    margin: 0 0 0 65px;
    width: 470px;
}

.card .picture {
    float: left;
}

.card .text h1 {
    margin: 18px 0 0 0;
}

.card .text hr {
    margin: 20px 0;
}

.card .pictureAndText {
    padding: 50px;
}

.text p {
    margin: 0;
}

.card dl dt,
.card dl dd {
    float: left;
    padding: 5px 0;
    margin: 0;
}

.card dl dt {
    width: 29%;
    font-weight: bold;
}

.card dl dd {
    width: 70%;
    color: #9da0a7;
}

.card>footer.media {
    background: #E6686A;
    text-align: center;
}

.card>footer.media>a {
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}

.card>footer.media>a:hover {
    background: #CF5D5F;
}

.card svg {
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}

.resume {
    margin-top: -380px;
}

.downloadResumeWrapper {
    text-align: center;
}

.downloadResume {
    background: white;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    border: #cdcfd1 solid 1px;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
    margin: 32px 0;
    transition: box-shadow 0.2s;
}

.downloadResume:hover {
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}

.introduction {
    text-align: center;
    font-family: "微软雅黑";
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

section.skills,
section.portfolio {
    max-width: 940px;
    margin: 60px auto 0;
}

section.skills h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}

.skills ol {
    background-color: white;
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
    padding: 40px 50px 0;
}

.skills h3 {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
    margin: 0 0 5px 0;
}

.skills .progressBar {
    height: 4px;
    padding: 0;
    background: #fae1e1;
    border-radius: 2px;
    overflow: hidden;
}

.skills .progress {
    background: #e6686a;
    height: 100%;
    width: 50%;
    border-radius: 2px;
    transform: translateX(0);
    transition: all 1.5s;
}

.skills.offset .progress{
    transform: translateX(-100%);
}

.skills ol li {
    width: 48%;
    float: left;
    margin-bottom: 44px;
}

.skills ol li:nth-child(odd) {
    margin-right: 24px;
}

.portfolio h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}

.portfolio {
    text-align: center;
}

.portfolio nav {
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.portfolio nav ol {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
    padding-left: 0;
}

.portfolio nav ol li {
    float: left;
    margin-right: 40px;
    cursor: pointer;
}

.portfolio ol li:nth-child(3) {
    margin-right: 0;
}

nav .bar {
    background: #ffffff;
    height: 4px;
    border-radius: 2px;
    margin-bottom: 100px;
}

.bar-in {
    background: #e6686a;
    height: 100%;
    border-radius: 2px;
    transition: all 0.5s;
}

.bar.state-1 .bar-in {
    margin-left: 0;
    width: 22%;
}

.bar.state-2 .bar-in {
    margin-left: 22%;
    width: 33%;
}

.bar.state-3 .bar-in {
    margin-left: 55%;
    width: 45%;
}

.works {
    position: relative;
    padding-bottom: 999px
}

.works .big,
.works .small {
    position: absolute;
}